body{
	padding:0px;
	font-size: 14px;
	word-spacing: 2px;
	font-family: CallunaSans-Regular;
	/*font-family: 'Rokkitt',Georgia,serif;*/
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;*/

	background: url(images/back.png);

}
.top-banner{
margin-top:20px;

}
.logo{
	padding-left: 10%;

}
.nav-bar{
	background: none repeat scroll 0 0 rgba(80, 79, 97, 0.75);
	/*background: none repeat scroll 0 0 rgba(44, 49, 50, 0.75);*/
	/*background-color: rgba(140,30,0,0.7);*/

}
.nav-bar a{
	text-decoration: none;
	color:black;
	font-size: 16px;
	padding-left:0;

}
.nav-bar a:hover{
	color: #23527c;
}

h1,h2{
	
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}


.link-style{
	padding:2% 0 0 0;
	list-style: none;
	font-weight: bolder;
	font-color: black;
	min-height: 60px;
	text-align: center;
	text-transform: uppercase;
}

li{
	list-style: none;
	padding:0;
}

/*--------------SVG Styling-------------*/
.separator{
	padding-top: 33px;
}
.separator a:hover{
	text-decoration: none !important;
}
	#professional, #literacy	{fill: #32B196;}
	#school_1_,#women	{fill:#ED7774;} 		
	#school,#special{ fill: #4cbbfa;}
	#vocational,#higher{fill: #504F61;}



	#professional:hover, #literacy:hover { cursor:pointer; fill: #336666;}
	#school_1_:hover, #women:hover{cursor:pointer; fill: #ff6666;} 
	#vocational:hover,#higher:hover{cursor:pointer; fill: #666666;}
	#school:hover, #special:hover{cursor: pointer;fill: #33ccff;}
.info-logo{
	background: url(images/Read.svg)  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	
}
/*--------------End of SVG Styling-------------*/
/*--------------Three column scaled block-------------*/
.gallery{
	padding-top: 50px;
	height: 420px;
}
ul.gallery li{
		float:left;
		margin:0 auto;
		padding:0 0px;
		list-style: none;

	}
	ul.gallery li a img{
		float: left;
		width: 200px;
		/*margin-left: 100px;*/
		
	}
	ul.gallery li a:hover img /*button:hover*/{
		transform: scale(1.1);
		box-shadow: 4px 4px 10px rgba(0, 0, 100, 0.5); 
	}
/*--------------End of three column scaled block-------------*/

/*--------------Footer Styling Starts here-------------*/

.footer {
	clear: both;
	margin-top: 2%;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 20px #000;
    color: #222;
   
    font-size: 1em;
    font-weight: 100%;
    line-height: 1.3;
    padding: 80px 50px;
    text-align: center;
}
/*--------------Footer Styling Ends here-------------*/

/*----------------------Contact Form Styling----------------------*/
.back-pic{

	/*background-image: url(images/flowers.jpg);*/
	text-align: center;
}

}
#contact-form h1{
	text-align: center;
    height: 50px;
    
}

.text12, .email12, .msg12{
	margin-top: 0;
	background-color: rgba(250,249,240,.75);
}
.btn12{

	margin-top: 4%;
}
.contact-text{
	list-style: none;
	padding:0;
	font-size: 20px;
	font-weight: 100%;
	text-align: center;
}

/*----------------------Contact Form Styling Finishes----------------------*/


/*----------------------Sprite Styling-------------------------------------*/

.social-channels li {
	list-style: none;
	display: inline-block;
	padding:0px;
}

.linkedin {
	width:32px;
	height:32px;
	background: url(images/sprite.png)  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.linkedin:hover {
	background-position:0px -32px;
}

.pinterest {
	width:32px;
	height:32px;
	background: url(images/sprite.png)  no-repeat scroll -32px 0px rgba(0, 0, 0, 0);
	/*background-position:0px 66px;*/
}

.pinterest:hover {
	background-position:-32px -32px;
}
.twitter {
	width:33px;
	height:33px;
	background: url(images/sprite.png)  no-repeat scroll -64px 0 rgba(0, 0, 0, 0);
}

.twitter:hover {
	background-position:-64px -32px;
}

.facebook {
	width:33px;
	height:33px;
	background: url(images/sprite.png) no-repeat scroll -224px 0 rgba(0, 0, 0, 0);
}
.facebook:hover {
	background-position:-224px -32px;
}

.googleplus {
	width:33px;
	height:33px;
	background: url(images/sprite.png) no-repeat scroll -127px 0 rgba(0, 0, 0, 0);
}

.googleplus:hover {
	background-position:-127px -32px;
}

ul.social-channels li a{
	padding-left: 32px;
	padding-top: 32px
}